Neste projeto, analisaremos o dataset **Ramen Ratings**, disponível no Kaggle, que contém milhares de avaliações de diferentes marcas e estilos de ramen ao redor do mundo.

**Objetivos principais:**
- Investigar quais países produzem os ramens mais bem avaliados;
- Identificar as marcas mais consistentes em qualidade;
- Explorar padrões entre estilo (cup, bowl, pack) e nota;
- Criar visualizações que contem a história dos dados.

In [82]:
import pandas as pd

df = pd.read_csv('/home/marcus-vinicius/Desktop/Python/Kaggle/ramen-ratings.csv')

Conhecendo meus dados:

In [83]:
df.head()

   Review #           Brand  ... Stars Top Ten
0      2580       New Touch  ...  3.75     NaN
1      2579        Just Way  ...     1     NaN
2      2578          Nissin  ...  2.25     NaN
3      2577         Wei Lih  ...  2.75     NaN
4      2576  Ching's Secret  ...  3.75     NaN

[5 rows x 7 columns]

In [84]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   Review #  2580 non-null   int64
 1   Brand     2580 non-null   object
 2   Variety   2580 non-null   object
 3   Style     2578 non-null   object
 4   Country   2580 non-null   object
 5   Stars     2580 non-null   object
 6   Top Ten   41 non-null     object
dtypes: int64(1), object(6)
memory usage: 141.2+ KB

In [85]:
# A coluna 'Star' é float porem está como object. Aqui mudamos isso!
df['Stars'] = pd.to_numeric(df['Stars'], errors= 'coerce')
# Deixando o nome das colunas, valores str uniformes
df.columns = df.columns.str.lower().str.replace(' ','_')

categorical_columns = list(df.dtypes[df.dtypes == 'object'].index)
# Aqui faço uma limpeza nas str
for c in categorical_columns:
    df[c] = df[c].str.lower().str.replace(' ', '_')
    df[c] = df[c].str.lower().str.replace('-', '_')

In [86]:
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2580 entries, 0 to 2579
Data columns (total 7 columns):
 #   Column    Non-Null Count  Dtype
---  ------    --------------  -----
 0   review_#  2580 non-null   int64
 1   brand     2580 non-null   object
 2   variety   2580 non-null   object
 3   style     2578 non-null   object
 4   country   2580 non-null   object
 5   stars     2577 non-null   float64
 6   top_ten   41 non-null     object
dtypes: float64(1), int64(1), object(5)
memory usage: 141.2+ KB

In [87]:
df.head()

   review_#           brand  ... stars top_ten
0      2580       new_touch  ...  3.75     NaN
1      2579        just_way  ...  1.00     NaN
2      2578          nissin  ...  2.25     NaN
3      2577         wei_lih  ...  2.75     NaN
4      2576  ching's_secret  ...  3.75     NaN

[5 rows x 7 columns]

In [88]:
# Procurando valores NaN/vazios
df.isnull().sum()

review_#       0
brand          0
variety        0
style          2
country        0
stars          3
top_ten     2539
dtype: int64

In [89]:
df[df['style'].isnull()]

      review_#   brand            variety style country  stars top_ten
2152       428  kamfen     e_menm_chicken   NaN   china   3.75     NaN
2442       138    unif  100_furong_shrimp   NaN  taiwan   3.00     NaN

In [90]:
# Valores incoerentes/incompletos
df[df['top_ten'].isnull() == False]

      review_#             brand  ... stars   top_ten
616       1964              mama  ...  5.00  2016_#10
633       1947       prima_taste  ...  5.00   2016_#1
655       1925             prima  ...  5.00   2016_#8
673       1907       prima_taste  ...  5.00   2016_#5
752       1828     tseng_noodles  ...  5.00   2016_#9
891       1689      wugudaochang  ...  5.00   2016_#7
942       1638  a_sha_dry_noodle  ...  5.00  2015_#10
963       1617           mykuali  ...  5.00   2015_#7
995       1585            carjen  ...  5.00   2015_#4
1059      1521          maruchan  ...  5.00   2015_#9
1072      1508             mamee  ...  5.00   2015_#6
1080      1500           mykuali  ...  5.00   2015_#1
1109      1471              mama  ...  5.00  2013_#10
1114      1466              mama  ...  5.00   2015_#8
1230      1350             mamee  ...  5.00   2014_#7
1250      1330   sapporo_ichiban  ...  5.00   2014_#4
1272      1308          nongshim  ...  5.00   2014_#9
1278      1302              mama  ...  5.00  2014_#10
1309      1271       prima_taste  ...  5.00   2014_#8
1382      1198     samyang_foods  ...  5.00   2014_#5
1397      1183             paldo  ...  5.00   2014_#6
1493      1087           mykuali  ...  5.00   2014_#1
1588       992       prima_taste  ...  5.00   2013_#1
1589       991       prima_taste  ...  5.00   2013_#2
1646       934          nongshim  ...  5.00   2013_#4
1670       910             paldo  ...  4.25        \n
1757       823             paldo  ...  5.00   2013_#9
1846       734           indomie  ...  5.00        \n
1865       715           indomie  ...  5.00   2013_#3
1972       608              koka  ...  5.00  2012_#10
2002       578          nongshim  ...  4.75   2012_#7
2146       434         mi_sedaap  ...  4.50   2012_#5
2188       392            nissin  ...  5.00   2012_#3
2189       391             myojo  ...  4.25   2012_#6
2248       332          nongshim  ...  3.75        \n
2295       285              doll  ...  4.50   2012_#9
2475       105           indomie  ...  5.00   2012_#1
2533        47           indomie  ...  5.00   2012_#2
2535        45           indomie  ...  5.00        \n
2549        31             myojo  ...  4.00   2013_#6
2567        13   sapporo_ichiban  ...  5.00   2012_#4

[41 rows x 7 columns]

In [91]:
df['style'].value_counts()

style
pack    1531
bowl     481
cup      450
tray     108
box        6
can        1
bar        1
Name: count, dtype: int64

In [92]:
df['brand'].value_counts()

brand
nissin         381
nongshim        98
mama            98
maruchan        76
paldo           66
              ...
katoz            1
osaka_ramen      1
pamana           1
sokensha         1
westbrae         1
Name: count, Length: 351, dtype: int64

In [93]:
df['country'].value_counts()

country
japan            352
usa              323
south_korea      309
taiwan           224
thailand         191
china            169
malaysia         156
hong_kong        137
indonesia        126
singapore        109
vietnam          108
uk                69
philippines       47
canada            41
india             31
germany           27
mexico            25
australia         22
netherlands       15
myanmar           14
nepal             14
pakistan           9
hungary            9
bangladesh         7
colombia           6
brazil             5
cambodia           5
fiji               4
holland            4
poland             4
finland            3
sarawak            3
sweden             3
dubai              3
ghana              2
estonia            2
nigeria            1
united_states      1
Name: count, dtype: int64